/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    margin-bottom: 15px; 
}

header {
    background-color: rgb(0, 0, 0); /* Cor do cabeçalho semelhante à Amazon */
    color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px; 
}

header .logo img {
    height: 70px;
    margin-bottom: 100px; 
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

header .busca input {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
}

header .busca button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #f8a800;
    border: none;
    cursor: pointer;

}

main {
    padding: 20px;
}

.destaques, .produto {
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
}

.produto img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 50px; 
    display: flex;
}

footer {
    background-color: #131921;
    color: rgb(211, 241, 223);
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 5px;
}
